body {
	font-family: 'Share Tech', sans-serif;
	width: 61.8%;
	margin: auto;
}

#wrapper {
	background-color: #129793;
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	border: 1px dashed;
}

header {
	text-align: center;
}

section {
	float: left;
	padding: 2% 1%;
	width: 60%;
}

aside { 
	float: right;
	padding: 1%;
	width: 36%;
}

aside h2 {
	margin: 0px;
}

#dragonImg{
	border-top: 1px solid;
}

#dragonImg img {
	max-width: 100%;
}

/* Media Querries
---------------------------------------------------------*/

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media screen and (min-width: 768px) and (max-width: 959px) {
		#wrapper { background-color: #FFFFCC; }
	}

	/* Mobile Landscape Size to Tablet Portrait (devives and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
		#wrapper {background-color: #5D76DB;}
	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
		#dragonImg {display:none;}
		section, aside {
			float:none;
			margin: auto;
		}
	}




