/* this is the main css stylesheet */
div#container {
	width: 90%;
	margin: auto;
	position: relative;
}


/* Media Querries
---------------------------------------------------------*/

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media screen and (min-width: 768px) and (max-width: 959px) {

	}

	/* Mobile Landscape Size to Tablet Portrait (devives and browsers) */
	@media screen and (min-width: 480px) and (max-width: 767px) {

	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media screen and (max-width: 479px) {

	}